html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 22px;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.tartalom {
  flex: 1;
}

.sajat-kep {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.kozepre-igazitott {
  font-size: 20px;
}

.footer {
  background-color: #f50606;
  text-align: center;
  padding: 1rem;
}

.navbar-nav {
  vertical-align: center;
}

.rolam, .fenytech, .hangtech, .iskolaim, .videotech, .robotika, .turoczy, .szikszi {
  font-size: 20px;
  text-align: justify;
  padding: 10px;
  padding-top: none;
  padding-bottom: none;
}

.robotika-kepek {
  max-width: 800px;
}

.videotech-kepek {
  max-width: 450px;
}